/* Variables */

:root {
  --cp-bg: #fef9ef;
  --cp-header: #ffcb77;
  --cp-footer: #fef9ef;
  --cp-highlight: #fe6d73;
  --cp-footer2: #227c9d;
}

/* Fonts */
@font-face {
  font-family: 'Bakbak One';
  src: url(./assets/fonts/BakbakOne-Regular.ttf);
}

/* HTML Elements */

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Bakbak One';
  background-color: var(--cp-bg);
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  flex-direction: column;
}

img {
  height: 250px;
  margin: 4px;
}

canvas {
  display: block;
  margin: 0 auto;
  /* outline: 1px solid black; */
}
ul {
  list-style: none;
  flex-direction: row;
  margin: 8px;
  padding: 0;
  height: 100%;
}

/* Helpers */
.rounded-circle {
  border-radius: 50%;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

/* .noOverflow {
  overflow: hidden;
} */

/* Class */

.header-title {
  background-color: var(--cp-header);
  justify-content: space-between;
  min-height: 125px;
  align-items: center;
}

.search-container {
  background-color: var(--cp-bg);
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.searchBar {
  text-align: center;
  border-radius: 16px;
  border: 1.5px solid rgb(146, 146, 146);
  font-family: cursive;
  letter-spacing: 0.5px;
  width: 20%;
  min-width: 200px;
  margin-left: 50px;
  height: 40px;
}

#search-choice::placeholder {
  color: rgb(170, 170, 170);
}

.logo {
  background-color: var(--cp-header);
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
}

.logoPic {
  height: 50px;
  background-color: var(--cp-header);
}

.nav-container {
  color: var(--cp-bg);
  height: 95%;
  padding: 0px 50px;
  margin: 0px;
  background-color: var(--cp-header);
}
.nav-container ul {
  height: 125px;
  margin: 0;
}

.nav-container li {
  padding: 0;
  margin: 0;
  height: 100%;
}

.nav-container a {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  transition: box-shadow 0.3s;
  background-color: var(--cp-header);
}

.nav-container a:hover {
  box-shadow: inset 0px -6px 0 var(--cp-highlight);
  color: var(--cp-highlight);
}

.nav-container a.active {
  box-shadow: inset 0px -6px 0 var(--cp-highlight);
  color: var(--cp-highlight);
  cursor: default;
}

.nav:hover {
  cursor: pointer;
  height: unset;
  box-sizing: unset;
  color: var(--cp-highlight);
  box-shadow: inset 0px -6px 0 var(--cp-highlight);
}

.nav {
  background-color: var(--cp-bg);
}
.main-page {
  background-color: var(--cp-bg);
  height: 100%;
}

.footer {
  background-color: var(--cp-header);
  height: 65px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer > * {
  height: 60px;
  width: 40px;
  margin-right: 10px;
}
.footer svg {
  height: 100%;
  width: 100%;
}

.gallery {
  flex-wrap: wrap;
  justify-content: center;
  margin: 4px;
  height: 100%;
}

.img {
  max-height: 250px;
  max-width: 250px;
  margin: 5px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 105px 2px rgba(155, 155, 155, 0.44);
  -webkit-box-shadow: 0px 0px 105px 2px rgba(155, 155, 155, 0.44);
  -moz-box-shadow: 0px 0px 105px 2px rgba(155, 155, 155, 0.44);
}
.img img {
  height: 95%;
  border-radius: 8px;
}

/* /////////////// GRID ///////////////// */
/* .container {
  position: relative;
  min-height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 125px 100px 1fr 125px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'header-title header-title header-title'
    'nav nav nav'
    'main-page main-page main-page'
    'footer footer footer';
}

.header-title {
  grid-area: header-title;
}

.search-container {
  grid-area: nav;
}

.footer {
  grid-area: footer;
}

.main-page {
  grid-area: main-page;
} */

/* MODAL STUFF */

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 4rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  background-color: var(--cp-bg);
}
.close-modal:focus {
  background-color: var(--cp-bg);
}

.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 90%;
  height: 800px;
  padding: 4rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  align-items: center;
}

.modal-items {
  width: 100%;
  padding: 0px 150px 0px 0px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.canvas-container {
  width: 66%;
  background-color: var(--cp-bg);
}

.meme-inputs {
  margin: 8px;
  flex-direction: column;
  width: 33%;
  background-color: var(--cp-bg);

  justify-content: center;
}

.meme-inputs > * {
  margin: 4px;
  background-color: var(--cp-bg);

  flex-wrap: wrap;
  padding: 0;
}
.line-edit,
.align-options,
.saving-options,
.line-div {
  justify-content: center;
  align-items: center;
}
/* .saving-options {
  flex-direction: row;
  width: 100%;
} */

.line {
  border-radius: 4px;
  min-height: 40px;
  height: 50px;
  width: 60%;
  text-align: center;
  font-size: larger;
}
.create,
.delete,
.increase,
.decrease,
.switch,
.textColorSVG,
.textBorderColorSVG,
.move-up,
.move-down,
.move-left,
.move-right {
  height: 60px !important;
}

.line-move {
  justify-content: center;
}

.color-options {
  position: relative;
  justify-content: center;
}

/* .textColorSVG {
  width: 60px;
  height: 60px;
} */

.textBorderColorSVG {
  width: 60px;
  height: 60px;
}

.text-options {
  justify-content: center;
  align-items: center;
}

.textBorderColor {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  height: 60px;
}
.textColor {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 35%;
  height: 60px;
}

.align-left {
  height: 60px;
}
.align-center {
  height: 60px;
}
.align-right {
  height: 60px;
}
.saved-memes {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.saved-memes-options {
  display: none;
  z-index: 1;
  position: absolute;
  border-radius: 8px;
  height: 50%;
  width: 50%;
}
.saved-memes-options .download {
  position: relative;
  margin: 0;
  left: 25%;
}

.savedGallery .img:hover {
  filter: grayscale(20%);
}
.savedGallery .img:hover .saved-memes-options {
  display: block;
}

.savedGallery {
  background-color: var(--cp-bg);
  background-color: transparent;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

/* .overflow-x-off {
  overflow-x: hidden;
} */
.me {
  border-top: 1px solid rgb(241, 241, 241);
  background-color: var(--cp-footer);
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 2rem;
}
.title {
  font-size: 1.5rem;
}
.about {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.about-info {
  background-color: var(--cp-footer);
  font-family: 'Bakbak One';
  margin: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--cp-footer);
  color: var(--cp-highlight);
  letter-spacing: 2px;
  width: 100%;
}
.about-info img {
  width: 150px;
  height: 150px;
}
.someinputs {
  justify-content: center;
}
.save,
.download {
  height: 60px;
  width: 60px;
}

.btn-menu {
  display: none;
  background-color: var(--cp-header);
  border: none;
}

@media (max-width: 900px) {
  .logoPic {
    height: 40px;
    padding: 0;
    margin: 0;
  }
  .footer {
    position: relative;
    bottom: 0px;
  }

  .logo {
    padding: 0;
  }
  .btn-menu {
    display: block;
  }
  .header-title {
    width: 100vw;
    justify-content: center;
  }
  .header-title ul {
    position: fixed;
    right: 0px;
    top: 0px;
    flex-direction: column;
    background-color: rgba(255, 255, 255);
    height: 101vh;
    border-inline-start: 1px solid #e5e5e5;
    width: 200px;
    transform: translateX(100%);
    z-index: 2;
    transition: transform 0.6s, box-shadow 0.6s;
  }
  .header-title li {
    margin: 5px;
    height: auto;
  }
  .header-title li a {
    margin-bottom: 20px;
    width: 100%;
  }
  body.menu-open .header-title ul {
    box-shadow: 0px 0px 30px rgb(0 0 0 / 30%);
    transform: translateX(0);
  }

  .about-info {
    flex-direction: column;
    justify-content: center;
  }
  .about-info img {
    height: 200px;
    width: 200px;
  }
  .modal-items {
    flex-direction: column;
    height: 100%;
    padding: 0;
  }
  .canvas-container {
    width: 100%;
  }
  .search-container {
    padding: 20px 0px;
  }

  .meme-inputs {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .text-options,
  .line-div {
    width: 100%;
  }

  .categories {
    display: none;
  }
  .nav-container a {
    height: 50px;
  }
  .nav-container ul {
    height: 100%;
  }

  #my-canvas {
    width: 250px !important;
    height: 250px;
  }
  .canvas-container {
    width: 250px;
  }
  .modal {
    width: 350px;
    top: 50%;
    padding: 4rem;
  }
  .close-modal {
    top: 1rem;
    right: 1rem;
    padding: 0;
    font-size: 4rem;
  }

  .create,
  .switch,
  .delete,
  .textColor,
  .textColorSVG,
  .textBorderColor,
  .textBorderColorSVG,
  .increase,
  .decrease,
  .align-left,
  .align-center,
  .align-right,
  .save,
  .download {
    height: 40px;
    width: 40px;
  }
}
.main-screen {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  cursor: pointer;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.6s;
}

body.menu-open .main-screen {
  pointer-events: auto;
  opacity: 1;
}

.categories {
  margin-right: 50px;
  flex-direction: column;
}

.categories li {
  margin-right: 10px;
  font-size: larger;
  color: var(--cp-highlight);
  cursor: pointer;
}

.categories li:hover {
  color: #cf595d;
}
